.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.itemList {
  list-style: none;
  width: 360px;
  min-height: 200px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
